<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <input
    type="text"
    ngModel
    name="userName"
    #userName="ngModel"
    placeholder="Enter your name"
    required
    minlength="5"
  />
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

<div *ngIf="userName.touched">
  <p *ngIf="userName.errors?.['required']">Please enter a name</p>
</div>
