<p>guitar-details works!</p>
<h2>come on {{user.userName}} you know you want it</h2>
<article>
  <h4 *ngIf="currentGuitar != undefined">{{ currentGuitar.model }}</h4>
  <h4 *ngIf="currentGuitar != undefined">{{ currentGuitar.manufacturer }}</h4>
  <h4 *ngIf="currentGuitar != undefined">{{ currentGuitar.bodyType }}</h4>
  <img *ngIf="currentGuitar != undefined" [src]="currentGuitar.image" />
</article>
