<h4>guirarlist works</h4>
<h2>Welcome {{user.userName}} buy a guitar guy</h2>
<app-guitar *ngFor="let guitar of guitars" [guitar]="guitar" (guitarSelected)="handleGuitarSelected($event)"></app-guitar>